@import '../../../vars.scss';

$icon-color: rgba(0, 0, 0, 0.54);

.mat-list-icon {
  color: $icon-color;
}

.container {
  width: 100%;
  height: calc(100% - 64px);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: $offset;
}

.sidenav-caption {
  text-align: center;
}

.progress-block {
  padding: $offset;
  text-align: center;
}

.folder-name-input {
  width: 11rem;
  margin-left: $offset;
  outline: 0;
  border-radius: 0;
  border-color: $icon-color;
  color: $icon-color;
  font-weight: bold;
}

.sidenav-icon {
  margin-right: $offset;
}

.icon-button {
  width: $offset;
  margin-right: $offset;
}
