<div class="wrapper">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title *ngIf="isLogin">Log In</mat-card-title>
      <mat-card-title *ngIf="!isLogin">Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
          <table *ngIf="isLogin" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Username" [(ngModel)]="login" name="login" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="error">
                {{errorMessage}}
              </td>
            </tr>
        </table>
        <table *ngIf="!isLogin" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput placeholder="Username" [(ngModel)]="login" name="login" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Repeat password" [(ngModel)]="repeatPassword" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="error">
            {{errorMessage}}
          </td>
        </tr>
      </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="isLogin">
        <button (click)="logIn(login, password)" class="main-button" mat-raised-button color="primary">Log In</button>
        <button (click)="isLogin = !isLogin; errorMessage = ''" class="switch-button" mat-button>Register</button>
      </div>
      <div *ngIf="!isLogin">
        <button (click)="register(login, password, repeatPassword)" class="main-button" mat-raised-button color="primary">Register</button>
        <button (click)="isLogin = !isLogin; errorMessage = ''" class="switch-button" mat-button>Log In</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

